<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex flex-wrap align-items-center pb-2 border-bottom">
    <h3 class=" pb-2 mb-0 col-12 col-lg-auto me-lg-auto">Дисциплины</h3>
    <div class="text-end">
      <%= button_to '+ Создать', new_discipline_path, :method => :get, type: "button", class: "btn btn-outline-secondary" %>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Материалы</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @disciplines.each do |discipline| %>
        <tr>
          <td><%= label_tag "#{discipline.name}" %></td>
          <td><%= label_tag "#{discipline.materials.length}" %></td>
          <td>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <%= link_to 'Подробнее', discipline, class: "btn btn-outline-secondary btn-sm" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>