.carousel-control-prev-icon {
    display: inline-block;
    background-image: url('left.png');
    margin-top: -130px;
  }
  
  .carousel-control-next-icon {
    display: inline-block;
    background-image: url('right.png');
    margin-top: -130px;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}