<%= render "admin/shared/nav" %>    

<!-- TODO: подумать над пагинацией -->
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex flex-wrap align-items-center pb-2 mb-2 border-bottom">
    <h3 class="col-12 col-lg-auto me-lg-auto">Список пользователей</h3>
    <div class="row g-3 align-items text-end">
      <div class="col-auto d-flex">
        <input type="text" id="search-users-list-query" class="form-control" placeholder="Поиск пользователя...">
        <button class="ms-2 btn btn-outline-primary" type="button" id="search-users-list-button">Поиск</button>
      </div>
    </div>
  </div>

  <div id="user-list">
    <%= render partial: "users/users_list", locals: { users: @users } %>
  </div>
</div>
